/*
light pinkish: #DCD0C0
off-white: #F4F4F4
dark: #373737
*/

/* font for site title */
.site-title {
	font-family: "Brush Script MT", Brush Script STD, cursive;
	font-size: 125%;
}

/* changes default colors (background color, text color, etc). !important to override bootstrap. */
body {
	background-color: #373737!important;
	color: #F4F4F4!important;
}

/* sets colors for background and text of navbar. */
nav.navbar-dark {
	background-color: #F4F4F4;
	color: #373737!important;
}

/* START link colors */
nav.navbar-dark a {
	color: #373737!important;
}

nav.navbar-dark li.active a { /*the page you are on will be a different color so you know where you are*/
	color: #C0B283!important; /*change the color*/
}

nav.navbar-dark a:hover { /*underlines on hover*/
	text-decoration: underline;
}

nav.navbar-dark a:active { /*nothing currently applying. do we want to make it a different color on :active?*/
	/*color: #373737!important;*/
}
/* END link colors*/

/*color of the menu collapse button background*/
nav.navbar-dark button.navbar-toggler {
	background-color: #373737;
}