/*

*/

a.padding-5 {
	padding: 5px;
}

a.margin-right-none {
	margin-right: 0;
}

.thumbnail { /* margins in gallerytest2. */
	margin-bottom: 30px;
}

/*margin spacing in div with content to move below navbar*/
div.under-navbar {
	margin-top: 73px;
}

.gallery {
	padding-top: 12px;
}